.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #3CB371;
  color: black;
}

#pageLogo{
  cursor: pointer;
}

.pageLogo1{
  width: 250px;
}

.gub {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.gub li {
  display: inline-block;
  margin-right: 20px;
}

.gub li a {
  text-decoration: none;
  color: white;
  margin:20px;
}

.user-links {
  display: flex;
  align-items: center;
}

.user-links a {
  margin-left: 20px;
  text-decoration: none;
  display: flex;
  color: #333;
}

.user-links a:hover {
  text-decoration: underline;
}


/* 헤더 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/* 로그인 레이어 */
.loginlayer {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s; /* 투명도 전환을 위한 트랜지션 */
}

.login-container {
  max-width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}


/* 로고 블럭 안잡히게 하기 */
.pageLogo{
  user-select: none;
}
.memberProfile{
  width: 64px; 
  height: 64px;

}

.baordName:hover{
  transform: scale(3.1);
  border-radius: 4px;
  background-color: rgb(19, 61, 56);
}


/* 회원가입 로그인 버튼 */
.userlinks {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.login,
.signup {
  padding: 10px 10px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login {
  background-color: green;
  color: white;
}

.signup {
  background-color: white;
  color: green;
  text-decoration: none;
  box-sizing: 10px;
}

.signup:hover {
  text-decoration: underline;
}

.loginLook{
  color: black;
}

/* 로그인 후 화면 */

.my-info {
  text-align: center; /* 센터 정렬 */
}

.memberProfile {
  width: 100px; /* 이미지 크기 조정 */
  height: 100px; /* 이미지 크기 조정 */
  border-radius: 50%; /* 원형 모양 */
  border: 2px solid #ccc; /* 테두리 스타일 */
  object-fit: cover; /* 이미지를 부모 요소에 맞춤 */
  margin-bottom: 10px; /* 아래 여백 */
}

#nickname {
  font-size: 18px; /* 닉네임 크기 */
  font-weight: bold; /* 닉네임 굵게 */
  color: #333; /* 닉네임 색상 */
  text-decoration: none; /* 밑줄 제거 */
}

#nickname:hover{
  color: aqua;
}

#logoutBtn {
  color: black;
  text-decoration: none; /* 밑줄 제거 */
}

#logoutBtn:hover {
  color: aqua; /* 마우스 호버 시 색상 변경 */
}


