/* mainPage-style.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

.board-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* 가운데 정렬 */
  margin-left: 200px;
  margin-right: 200px;
  padding: auto;
  
}

.board-list {
  background-color: #fff;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  width: calc(30% - 20px); /* 크기를 줄입니다 */
  aspect-ratio: 4/3; /* 직사각형 비율 설정 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.board-list a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.board-item p {
  margin: 0;
}

.board-container-1 {
  text-align: center;
  margin-top: 50px;
}

.quick-login-buttons {
  margin-top: 20px;
}

.quick-login-buttons .quick-login {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quick-login-buttons .quick-login:hover {
  background-color: #0056b3;
}