<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.ib.board.model.mapper.BoardMapper">

<!-- 게시판 목록 얻어와서 HTML application scope에 뿌리기 -->
<select id="selectBoardTypeList">

	SELECT BOARD_CODE "boardCode", BOARD_NAME "boardName"
	FROM BOARD_TYPE
	ORDER BY BOARD_CODE

</select>

<select id="getBoardName">

SELECT BOARD_NAME
FROM BOARD_TYPE
WHERE BOARD_CODE = #{boardCode}

</select>

</mapper>
