<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="|${board.boardTitle} - ${boardName}|"></title>

  <link rel="stylesheet" href="/css/board/boardDetail-style.css">
  <link rel="stylesheet" href="/css/board/comment-style.css">
  <style>
    :root{
        --color1:black;
        --color2:#F5F5DC;
      }
      :root.dark{
        --color1: white;
        --color2: black;
      }
      body{
        background-color: var(--color2);
      }

      .container-wrapper{
        background-color: var(--color2);
      }
    
  </style>

</head>
<body>
  
  <th:block th:replace="~{common/common}"></th:block>
  <th:block th:replace="~{common/header}"></th:block>

  <section class="container-wrapper">

  <main class="container">


      <th:block th:object="${board}">
      <div class="board-header">
        <h1 th:text="${boardName}">게시판명</h1>
        <!-- 여기 최근 갔던 게시판들 나열하는거 할까? 말까? 고민중 -->

    <h2 th:text="*{boardTitle}">게시글 제목</h2>
  </div>
  
  <div class="board-detail">
    <span th:text="*{memberNickname}">작성자 닉네임</span><span>
    <span th:text="*{boardWriteDate}">작성일</span>
    <span> 조회수</span> [[*{readCount}]]   


  </div>
  
  <div class="board-body">
    <!-- ====================== 이미지가 있을 경우 출력하는 구문  ====================== -->
    <th:block th:if="${ #lists.size(board.imageList) > 0}">

    <th:block th:if="*{thumbnail}">
        <div class="img-box">
            <div class="boardImg thumbnail">
                <img th:src="|${thumbnail.imgPath}${thumbnail.imgRename}|">                     
                
            </div>
        </div>
    </th:block>
    
    
      
      <th:block th:each="i : ${#numbers.sequence(0, #lists.size(board.imageList) -1)}">                                       
          <div class="img-box">
              <div class="boardImg">

                  <img th:src="|${board.imageList[i].imgPath}${board.imageList[i].imgRename}|">  

              </div>
          </div>
      </th:block>

</th:block>

<!-- 게시글 내용 영역 -->
<p class="bodyContent" th:text="*{boardContent}">게시글 내용</p>

<div class="choochunContainer">
    <label>
    <div class="semiBtn">
      <i class="far fa-thumbs-up"></i>
      <button id="likeBtn" th:classappend="*{likeCheck == 1} ? like : notlike">
        추천하기
      </button>
      <span class="num" th:text="*{likeCount}">0</span>
    </div>
  </label>
</div>

      <!-- 게시글 수정, 삭제 버튼 영역 -->
      <div class="board-btn-area">
        <th:block th:if="${board.memberNo == session.loginMember?.memberNo}">
          <button id="updateBtn">수정</button>
          <button id="deleteBtn">삭제</button>
        </th:block>
        <button id="goToListBtn">목록으로</button>
      </div>



  

<!-- 이미지 다운로드 영역 -->
<th:block th:if="${#lists.size(board.imageList) > 0}">
  <div class="image-download">
    <h5>이미지 다운로드</h5>
    <th:block th:each="image : ${board.imageList}">
      <div>
        <a th:href="|${image.imgPath}${image.imgRename}|" th:download="${image.imgOriginalName}">
          <span th:text="${image.imgOriginalName}">이미지 다운로드</span>
        </a>
      </div>
    </th:block>
  </div>
</th:block>
</div>

<th:block th:replace="~{board/comment}"></th:block>



  </div>

    <th:block th:replace="~{common/common}"></th:block>

  

</th:block>

  
  <script th:inline="javascript">
        
    /* 로그인 상태인 경우 로그인한 회원 번호를 전역 변수 저장 */

    // session.loginMember?.memberNo 
    // - session에서 loginMember를 얻어 왔는데 
    //   null이 아닌 경우(?) [회원 번호(memberNo)] 얻어오기
    
    // - loginMember가 null인 경우 [null] 반환
    const loginMemberNo = /*[[${session.loginMember?.memberNo}]]*/ "로그인 회원 번호" ;

    /* 현재 게시글 번호를 전역 변수로 저장 */
    const boardNo = /*[[${board.boardNo}]]*/ "게시글 번호";

    /* 현재 게시글 좋아요 여부(boardLike)를 전역 변수로 저장 */
    let likeCheck = /*[[${board.likeCheck}]]*/ "좋아요 여부";

     const userDefaultImage = /*[[#{user.default.image}]]*/ "기본이미지";


</script>


</main>
</section>

  <th:block th:replace="~{common/footer}"></th:block>

  <script src="/js/board/boardDetail.js"></script>
  <script src="/js/board/comment.js"></script>

</body>
</html>