<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${boardName}">게시판 이름</title>

  <link rel="stylesheet" href="/css/board/board-style.css">

</head>

<body>


  <th:block th:replace="~{common/header}"></th:block>

  <h1 class="board-title" th:text="${boardName}">게시판 이름</h1>

  <table border=0 cellpadding=0 cellspacing=0>
    <thead>
      <tr>
        <th>제목</th>
        <th>글쓴이</th>
        <th>추천수</th>
        <th>날짜</th>
      </tr>
    </thead>

<!-- <tbody>
    <tr>
      <td>예시 제목1</td>
      <td>admin</td>
      <td>10</td>
      <td>2024-04-23</td>
    </tr>
    <tr>
      <td>예시 제목1</td>
      <td>admin</td>
      <td>10</td>
      <td>2024-04-23</td>
    </tr>
    <tr>
      <td>예시 제목1</td>
      <td>admin</td>
      <td>10</td>
      <td>2024-04-23</td>
    </tr>
    <tr>
      <td>예시 제목1</td>
      <td>admin</td>
      <td>10</td>
      <td>2024-04-23</td>
    </tr>
    <tr>
      <td>예시 제목1</td>
      <td>admin</td>
      <td>10</td>
      <td>2024-04-23</td>
    </tr>
    <tr>
      <td>예시 제목1</td>
      <td>admin</td>
      <td>10</td>
      <td>2024-04-23</td>
    </tr>
    <tr>
      <td>예시 제목2</td>
      <td>user1</td>
      <td>5</td>
      <td>2024-04-22</td>
    </tr>
    <tr>
      <td>예시 제목3</td>
      <td>user2</td>
      <td>2</td>
      <td>2024-04-21</td> 
    </tbody> -->

    <tbody>
      <tr th:each="board : ${boardList}" th:object="${board}">
								
        <td th:text="*{boardNo}">게시글 번호</td>
        
        <td>
          <!-- 썸네일 추가 예정 -->

          <!-- 상세 조회 주소에 cp가 포함된 이유 : 상세 -> 목록 돌아올 때 사용 -->
          
          <!-- 검색 X -->
          <a th:unless="${param.key}"
             th:href="@{/board/{boardCode}/{boardNo} (boardCode=${boardCode}, boardNo=*{boardNo}, cp=${pagination.currentPage})}" 
             th:text="*{boardTitle}">게시글 제목</a>

          <!-- 검색 O -->
          <a th:if="${param.key}"
             th:href="@{/board/{boardCode}/{boardNo} (boardCode=${boardCode}, boardNo=*{boardNo}, cp=${pagination.currentPage}, key=${param.key}, query=${param.query} )}" 
             th:text="*{boardTitle}">게시글 제목</a>


          <th:block th:text="|[*{commentCount}]|">댓글 수</th:block>
        </td>

        <!-- 작성자 닉네임 -->
        <td th:text="*{memberNickname}">닉네임</td>

        <!-- 작성일 -->
        <td th:text="*{boardWriteDate}">2023-10-26</td>

        <!-- 조회수 -->
        <td th:text="*{readCount}">0</td>

        <!-- 좋아요 수 -->
        <td th:text="*{likeCount}">0</td>

      </tr>

    </tbody>




    </tr>
  </table>
  <div style="text-align: center;">
    <a href="#">글쓰기</a>
  </div>



    <!-- 게시글이 있을 때만 페이지네이션이 보이게 할 예정 -->
    <div class="pagination-area">

      <ul class="pagination">
      
          <!-- 첫 페이지로 이동 -->
          <li><a href="#">&lt;&lt;</a></li>

          <!-- 이전 목록 마지막 번호로 이동 -->
          <li><a href="#">&lt;</a></li>

          <!-- 특정 페이지로 이동 -->
          <!-- 현재 보고있는 페이지 -->
          <li>
              <a class="current">1</a>
          </li>

          <!-- 보고있지 않은 페이지 -->                    
          <li> <a href="#">2</a> </li>
          <li> <a href="#">3</a> </li>
          <li> <a href="#">4</a> </li>
          <li> <a href="#">5</a> </li>
          <li> <a href="#">6</a> </li>
          <li> <a href="#">7</a> </li>
          <li> <a href="#">8</a> </li>
          <li> <a href="#">9</a> </li>
          <li> <a href="#">10</a> </li>

          <!-- 다음 목록 시작 번호로 이동 -->
          <li><a href="#">&gt;</a></li>

          <!-- 끝 페이지로 이동 -->
          <li><a href="#">&gt;&gt;</a></li>
      </ul>
  </div>




  

  

  <th:block th:replace="~{common/footer}"></th:block>





</body>

</html>