<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>글쓰기</title>

  <link rel="stylesheet" href="/css/board/boardWrite-style.css">

</head>
<body>

  <th:block th:replace="~{common/common}"></th:block>
  <th:block th:replace="~{common/header}"></th:block>
  
  <div class="write-header">
    <h1 th:text="|${boardName}에 글쓰기|">게시판명 + 에 글쓰기</h1> 
  </div>
  
  
  <form action="write" method="POST" class="write-form" id="writeForm" name="writeForm"
  enctype="multipart/form-data"
  >
    
    <!-- 제목 -->
    <h1 class="write-title">
      <input type="text" name="boardTitle" placeholder="제목을 작성하세요" value="">
    </h1>
    
    <!-- 내용 -->
    <div class="write-content">
      <textarea name="boardContent" placeholder="내용을 입력하세요."></textarea>
    </div>
    
    <button type="submit" id="writeBtn" class="write-btn">글 등록</button>


    <!-- 이미지 -->
    <div class="img-area">
      <label for="img0">
          <img class="preview" src="">
      </label>
      <input type="file" name="images" class="inputImage" id="img0" accept="image/*" multiple>
      <span class="delete-image">&times;</span>
  </div>


  </form>
  
  
  
  <th:block th:replace="~{common/footer}"></th:block>
  
  
</body>
</html>

<!-- 이미지 참고 내용
 [form 태그의 encType 속성]

          encType이란?
          - 데이터를 서버로 전송할 때 데이터의 형태(인코딩)를 지정하는 속성

          * enctype="application/x-www-form-urlencoded" (기본값)
          - URL 인코딩된 "문자열"로 서버에 제출


          * enctype="multipart/form-data" (무조건 POST에서만 동작)
          - 제출되는 여러 데이터 타입에 맞춰서 인코딩하여 제출
            문자열 -> String
            숫자 -> String -> int/double(Spring이 처리)
            파일 -> 2진 데이터

          * enctype="text/plain"
          - 텍스트로 서버에 제출
        
        -->