<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="loginlayer" class="loginlayer">
        <div class="login-container">
            <h2>Login</h2>

            <form action="/login/login" method="post" id="login-form">
              <section class="input-box">
                <input type="text" id="username" placeholder="아이디" required>
              </section>

              <section class="input-box">
                <input type="password" id="password" placeholder="비밀번호" required>
              </section>

              <label>
                <!-- label 태그 : input 태그의 제목을 나타내는 태그 -->
                <input type="checkbox" name="saveId">
                아이디 저장
                </label>

                <button type="submit">Login</button>
            </form>
            <button id="closelayer" class="close">닫기</button>
        </div>
    </div>

</body>
</html>