/* 전체 페이지 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

/* 메인 컨테이너 스타일 */
main {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#signUpForm{
  margin-top: 30px;
}

#signUpForm > label{
  display: block;
  margin-top: 40px;
  font-size: 18px;
}

/* 입력란 스타일 */
input[type="text"],
input[type="password"] {
  width: calc(100% - 10px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* 버튼 가운데 정렬 */
#signUpForm input[type="submit"],
#signUpForm button {
  padding: 10px;
  margin: 20px auto; /* 위 아래 여백을 조절하여 버튼을 가운데 정렬합니다. */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0e427b;
  color: #fff;
  display: block;
  width: 150px; /* 버튼의 너비를 조절합니다. */
}

/* 가입 메시지 스타일 */
.signUp-message {
  font-size: 14px;
  color: #999;
}

/* 필수 입력 표시 스타일 */
.required {
  color: red;
}