/* table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  text-align: center;
  background-color: #f0f0f0;
} */

a{
  text-decoration: none;
  color : black;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: transparent; /* 배경 투명 처리 */
}

tbody {
  border-left: none;
  border-right: none;
}

table {
  margin: 0 auto; /* 가운데 정렬 */
  width: 70%; /* 테이블 너비 조절 */
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  border-left: none;
  border-right: none;
  text-align: center;
  background-color: transparent;
}

tbody tr td { /* tbody 내 td 테두리 제거 */
  border-left: none;
  border-right: none;
  text-align: center;
}

.board-title { /* 게시판 제목 */
  margin-left: 200px;
}

.pagination{
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.pagination li{
  width: 20px;
  margin: 0 5px;
  text-align: center;
}

.pagination a{
  display: block;
  width: 100%;
  height: 100%;
}

.current{
  font-weight: bold;
  background-color: #455ba8;
  border-radius: 50%;
  color: white !important;
  letter-spacing: 0 !important;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* 수직 가운데 정렬 */
  padding: 20px; /* 좌우 여백 추가 */
}

.searchArea {
  background-color: #f0f0f0; /* 배경색 설정 */
  padding: 10px 20px; /* 내부 여백 설정 */
  border-radius: 5px; /* 모서리를 둥글게 만듦 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.popular {
  background-color: #f9f9f9; /* 배경색 설정 */
  padding: 10px 20px; /* 내부 여백 설정 */
  border-radius: 5px; /* 모서리를 둥글게 만듦 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

/* 검색창 스타일 */
#searchKey,
#searchQuery,
button {
  padding: 8px; /* 내부 여백 설정 */
  border: none; /* 테두리 없앰 */
  border-radius: 3px; /* 모서리를 둥글게 만듦 */
}

button {
  background-color: #455ba8; /* 배경색 설정 */
  color: white; /* 글자색 설정 */
  cursor: pointer; /* 커서를 포인터로 변경 */
}

button:hover {
  background-color: #3c4d84; /* 마우스 오버 시 배경색 변경 */
}

/* 링크 스타일 */
a {
  text-decoration: none;
  color: #333; /* 링크 색상 설정 */
}

a:hover {
  text-decoration: underline;
}