 /* Base settings and color theme */
 body {
  background-color: #f5f5f5; /* Light grey background */
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: grey; /* Specify the color you want for visited links */
}

table {
  margin: 0 auto; /* Centering the table */
  width: 70%; /* Table width */
  border-collapse: collapse;
  table-layout:fixed;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #3CB371; /* Main color for headers */
  color: white;
  border: 1px solid #2e8b57;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9; /* Zebra striping for rows */
}

/* Header and pagination styling */
.board-title {
  color: #3CB371;
  margin-left: 280px;
  font-size: 24px;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  display: block;
  padding: 5px 10px;
  background-color: #3CB371;
  color: white;
  border-radius: 5px;
}

.pagination a:hover {
  background-color: #2e8b57;
}

.current {
  font-weight: bold;
  background-color: #455ba8; /* Contrast color for current page */
  color: white !important;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Button styling */
button {
  background-color: #3CB371;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;

  height: 100%; /* Match the height of other form elements */

}

button:hover {
  background-color: #2e8b57;
}

/* Form styling */
form {
  margin: 20px auto;
  width: 70%;
  display: flex;
  justify-content: flex-start;
}

input[type="text"], select {
  padding: 8px;
  margin-right: 2px;
  border: 2px solid #3CB371;
  border-radius: 5px;
}

input[type="text"]:focus, select:focus {
  border-color: #2e8b57;
}

/* Responsiveness */
@media (max-width: 768px) {
  .board-title, form {
    margin-left: 20px;
    width: 90%;
  }

  table {
    width: 90%;
  }
}

.board-top-container {
  display: flex; /* Flexbox 사용 */
  justify-content: space-between; /* 양끝 정렬 */
  align-items: center; /* 세로 방향 가운데 정렬 */
  margin: 0 auto; /* 중앙 정렬 */
  width: 70%; /* 컨테이너 너비 설정 */
}

#boardSearch {
  flex-grow: 1; /* 폼이 가능한 많은 공간을 차지하도록 설정 */
  margin-right: 20px; /* 폼과 인기글 버튼 사이의 간격 설정 */
}

/* 이미지 아이콘 스타일 */
.fas.fa-image.ed {
  color: #6c757d; /* 아이콘 색상 */
}

/* 그림자 효과 */
.board-top-container {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  padding: 10px; /* 그림자 여백 */
  margin-bottom: 20px; /* 상단과의 여백 */
}