<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>세미 메인</title>

  
  <link rel="stylesheet" href="/css/common/mainPage-style.css">

  


</head>
<body>
  <th:block th:replace="~{common/header}"></th:block>

  <div class="board-container">
    <th:block th:each="boardType : ${application.boardTypeList}">
      <section class="board-list">
        <a th:href="@{/board/{boardCode}(boardCode = ${boardType.boardCode})}" th:text="${boardType.boardName}">게시판 이름</a>
        <ul>
          <li class="board-item">
            <a href="#">
              <p>[게시판 설명]</p>
            </a>
          </li>
        </ul>
      </section>
    </th:block>
  </div>

  <div class="board-container-1">
    <h3>빠른 로그인</h3>
    <div class="quick-login-buttons">
      <button class="quick-login">sample01</button>
      <button class="quick-login">taegyu1104</button>
    </div>
  </div>

  <th:block th:replace="~{common/footer}"></th:block>
  <script src="js/main.js"></script>

</body>
</html>